<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.Solver.Solver">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/solverlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/layoutbg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddData"></activity>
        <activity android:name=".ViewImage" />
        <activity android:name=".Daily_Report" />
        <activity android:name=".Schedule_Display" />
        <activity android:name=".Write_Schedule" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".GroupChatAtv" />
        <activity android:name=".ClientShowDetails" />
        <activity android:name=".ShowUserDetails" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Client_reg"
            android:label="Client registration form" />
        <activity
            android:name=".Sign_Up"
            android:label="User registration form" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <service
            android:name=".Service.FirebaseNotificationService"
            android:permission="com.google.android.c2dm.permission.SEND">
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>